<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="baseDesign.css" />
    <title> Welcome </title>
  </head>

  <body>
    <div class="topNav">
      <a href="#home">Home</a>
      <a href="#students">Students</a>
      <a href="#adults">Adults</a>
    </div>

    <div class="sideNav">
      <a href="#">Evan Hansen</a>
      <a href="#"> Heidi Hansen</a>
      <a href="#">Connor Murphy</a>
    </div>

    <table class="clientTable" id="clientTable">
      <tr id = "headers">
        <th> LastName </th>
        <th> FirstName </th>
        <th> Address </th>
        <th> City </th>
        <th> State </th>
        <th> Zip </th>
        <th> DoB </th>
      </tr>
    </table>

  </body>
</html>
